<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
		<!-- Configuración para SQL Server 2016 - Servidor: SERVERBD, BD: Tendendicadb -->
		<add name="DefaultConnection"
			 connectionString="Data Source=SIDNEY-PC;Initial Catalog=tendenciasql16;User ID=sa;Password=nautilus;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<!-- Valores por defecto para la lógica de negocio -->
		<add key="CodSucu" value="00000" />
		<add key="TipoCom" value="H" />
		<add key="MonedaDefault" value="USD" />
	</appSettings>
</configuration>